body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('lib/dancefloor.jpg');
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  /* border:10px solid red; */
  border-radius:10px;
  position:absolute;
  height: 100px;
  width: 100px;
  content: url("https://bestanimations.com/media/stars/807337127star-heart-gif.gif");
}

 .bouncy-dancer{
  border-radius:10px;
  position:absolute;
  height: 100px;
  width: 100px;
  content: url("https://media4.giphy.com/media/XyChxZCKzwNmI6TRUQ/giphy.gif?cid=790b7611047fda646335e2ea47af1c166c6cdef2e5413c28&rid=giphy.gif&ct=s")
}
.RickAstley-dancer{
  border-radius:10px;
  position:absolute;
  height: 100px;
  width: 100px;
  content: url("https://media.tenor.com/fjJsgqytJkQAAAAM/rick-astley-rick.gif")
}